body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background-color: rgb(230, 241, 255);
  margin: 16px auto;
  border-color: white;
  border-width: medium;
}

.title {
  padding: 18px;
  border:thick solid white;
  margin: 0px;
}

.content {
  padding: 18px;
  border:thick solid white;
}

.button-container {
  text-align: center;
  padding: 18px;
  border:thick solid white;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px 35px;
  margin : auto;
}